$recipe-color: #82ff91;
$recipe-ingredients-color: #dd0000;
$background: rgb(246, 246, 225);

body{
  background-color: $background;

}

.recipe{
  margin-bottom: 1rem;
  width: 100%;
  padding: 10px;
  background-color: $recipe-color;
  border: 2px solid rgb(8, 48, 56);
  border-radius: 5px;

}

.recipe-ingredients{
  display: none;
}

.recipe-name{
  display: inline;
  padding: 1rem;
}

.btn-info{

}
