$recipe-color: #82ff91;

.recipe{
  margin-bottom: 1rem;
  width: 100%;
  padding: 10px;
  background-color: $recipe-color;
  border: 2px solid rgb(8, 48, 56);
  border-radius: 5px;

}

.recipe-ingredients{
  display: none;
  list-style-position: inside;
}

.recipe-name{
  display: inline;
}


.recipe-header{
  margin-top: 1rem;
  position: relative;;
  button{
    position: absolute;
    right: 0;
    top: -.5rem;
  }
}

.recipe-ingredients button{
  margin: .5rem;
  padding: 2px;
  vertical-align: middle;
}
