$recipe-color: #82ff91;
$recipe-ingredients-color: #dd0000;
$background: rgb(246, 246, 225);



.recipe{
  margin-bottom: 1rem;
  width: 100%;
  padding: 10px;
  background-color: $recipe-color;
  border: 2px solid rgb(8, 48, 56);
  border-radius: 5px;

}

.recipe-ingredients{
  display: none;
}

.recipe-name{
  display: inline;

}

.recipe-image{

}

.recipe-header{
  margin-top: 1rem;
  position: relative;;

  button{
    position: absolute;
    right: 0;
    top: -.5rem;
  }
}
